#aiImg {
  width: 1200px;
  height: 100%;
  padding: 24px 5%;

  overflow: auto;
  margin: 0 auto;
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* 去除首尾元素的左右空白 */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px; /* 添加每个元素的左边距 */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 16px; /* 添加每个元素的下边距 */
  overflow: hidden;
  border-radius: 16px;
  background-color: #fff;
}

.my-masonry-grid_column > div > img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
}
.my-masonry-grid_column > div > img:hover {
  transition: all 0.3s;
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  #chatgptPrompts {
    width: 100%;
  }
}
