#chatgptPrompts {
  width: 1200px;
  height: 100%;
  
  margin: 0 auto;
}

#chatgptPrompts .container {
    width: 100%;
    height: 100%;
    padding: 24px;
  
    overflow: auto;
}

#chatgptPrompts .card {
  width: 100%;
  margin: 12px 0px;
  padding: 12px 24px;
  
}

#chatgptPrompts .card .subTitle{
     -webkit-line-clamp: 10;
}
#chatgptPrompts h2 {
    margin: 0;
}


