#aiStorm {
  width: 100%;
  height: 100%;
  padding: 24px 5%;
  overflow: auto;
  margin: 0 auto;
}
#aiStorm .container {
  width: 100%;
  position: relative;
<<<<<<< HEAD:src/pages/AiStorm/index.css
}
.tag {
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.move {
  transform: translate(-50%, -50%);
=======
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#aiStorm .container .tag {
  transition: all 0.5s ease-in-out;
  display: block;
>>>>>>> e2ab6f332489f0746cc0d1c5aeb649b5e3f821e1:src/pages/AiTag/index.css
}