#aiStorm {
  width: 1200px;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  #aiStorm {
    width: 100%;
  }
}
