@import url("https://fonts.googleapis.com/css2?family=Caveat&family=DynaPuff&family=Montserrat:wght@500&display=swap");

body {
  margin: 0;
  font-family: "DynaPuff", cursive;
}

::-webkit-input-placeholder {
  font-family: "DynaPuff", cursive;
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html,#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(45deg, #FFDEE9 0%, #B5FFFC 100%);
}

#iframe {
  width: 100%;
  height: 100%;
  border: 0;
}