#aiStorm {
  width: 100%;
  height: calc(100% - 60px);
  padding: 24px 5%;
  box-sizing: border-box;
  overflow: auto;
}
#aiStorm .container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
